<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#002171">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Play Archipelago!</title>
    <link rel="icon" sizes="192x192" href="static/icon192.png">
    <link rel="apple-touch-icon" href="static/icon192.png">
    <link rel="manifest" href="static/manifest.json">
</head>
<body>
    <div id="root"></div>
</body>
</html>
